@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./assets/astronaut.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dark-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: #555 rgba(0, 0, 0, 0);
}

.text-box:focus {
  border: none;
  outline: none;  
}

.my-transition {
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 500ms;
}